{% extends "base.html" %}
{% block content %}
{% load i18n %}

<div class="navigation_menu">
    <div class="navigation_menu_left">
        <a href="/dishes-ordering/">{% trans 'NavMenuHome' %}</a>
    </div>
    <div class="navigation_menu_right">
        <span id="user_name">{{ user.username }}</span>
        <a href="/dishes-ordering/logout">{% trans 'Logout' %}</a>
    </div>
</div>

{% for order in orders %}
<div>
    <h2>Order #{{order.order_id}}</h2>
    <p>{{order.created_at}}</p>
    <h3>{% trans 'IngredientsList' %}</h3>
    <table id="ingredients_table">
        <tr class="table_header">
            <th>{% trans 'IngredientTitle' %}</th>
            <th>{% trans 'IngredientAmount' %}</th>
        </tr>
        {% for order_ingredient in order.order_ingredients.all %}
            <tr class="table_ingredient">
                <td>{{order_ingredient.ingredient.name}}</td>
                <td>{{order_ingredient.amount}}</td>
            </tr>
        {% endfor %}
    </table>
</div>
<hr>
{% empty %}
    <h2>{% trans 'NoOrdersFound' %}</h2>
{% endfor %}
{% endblock %}